.homescreen         {
    position: sticky;top: 0; 
    padding: 10px 16px; 
    background: black; 
    color: #ffffff;
}
.homescreentitle    {
    text-align: center; 
    font-weight: bold;
}
.normalpage         {
    text-align: left;
}
.normalnavpage      {
    text-align: left;
}
.events             {
    text-align: left;
}
.forgotpassscreen   {
    margin: auto; width: 25%;
}
.forgotpassscreen a {
    text-decoration: none; 
    color:black
}
.container          {
    font-family: Arial, Helvetica, sans-serif, "Comic Sans MS";
}
.loginsignup        {
    text-align: left;
}
.loginscreen        {
    margin: auto;
}
.signupscreen       {
    text-align: left;
}
.aboutus            {
    text-align: left;
}
.ngonavpage         {
    text-align: left;
}
